[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
python-jenkins = "*"
ipython = "*"
jedi = "==0.17.2"
parso = "==0.7.1"
pytest = "*"

[dev-packages]

[requires]
python_version = "3.9"
